<configuration>
  <!-- Console appender -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
          <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
      </encoder>
  </appender>

  <!-- Root logger configuration -->
  <root level="ERROR">
    <appender-ref ref="STDOUT"/>
</root>

  <!-- Hibernate logging configuration -->
  <logger name="org.hibernate" level="ERROR"/>

  <!-- Optional: Customize other loggers -->
  <logger name="com.mycompany" level="DEBUG"/>
</configuration>